@import '@/style/variable';

.add-dialog {
  width: 450px;
  height: 280px;

  .title {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .subtitle {
    margin-top: 15px;
  }

  .input {
    width: 100%;
    height: 32px;
    padding: 0 10px;
    margin-top: 10px;
    border: 1px solid $color-border-sub;
    line-height: 32px;
    appearance: none;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }
  }
}
