.add-dialog {
  .title {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .field {
    margin-bottom: 15px;

    .label {
      margin-bottom: 5px;
    }
  }

  .foot {
    margin-top: 50px;
    text-align: end;

    .button {
    }
  }
}
