@import '@/style/variable';

.layout {
  display: flex;
  height: 100vh;

  .directory {
    flex-shrink: 0;
    width: 300px;
    height: 100%;
    border-right: 1px solid $color-border-main;
  }

  .wrap {
    flex-grow: 1;
    overflow: auto;
  }
}
