@import '@/style/variable';
@import '@/style/mixin';

.layout {
  display: flex;
  height: 100vh;

  @include transition;

  .directory {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    border-right: 1px solid $color-border-main;

    .list {
      flex-grow: 1;
      overflow: auto;

      @include scrollbar;
    }

    .bottom {
      flex-shrink: 0;
      padding: 10px 15px;
      border-top: 1px solid $color-border-sub;
      box-shadow: 0 0 2px 2px $color-border-sub;

      .button {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
    }
  }

  .wrap {
    background-color: white;
    flex-grow: 1;
    overflow: auto;
  }

  .modal {
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: hsla(0, 0%, 0%, 0.7);
    }

    .dialog {
      position: relative;
      padding: 25px;
      border-radius: 4px;
      background-color: white;
    }
  }
}
