@import '@/style/variable';

.date-pick {
  padding: 10px;
  border: 1px solid $color-blue-main;
  background-color: white;
  border-radius: 2px;
  font-size: 12px;

  .head {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $color-gray-sub;
    line-height: 1;

    .button {
      margin: 0 5px;
      cursor: pointer;

      .icon {
        height: 12px;
      }
    }
    .year {
      margin-left: 10px;
    }
    .month {
      margin-left: 5px;
      margin-right: 10px;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    place-items: center center;
    grid-row-gap: 5px;
    margin-top: 10px;

    .day {
      width: 20px;
      display: inline-block;
      cursor: pointer;
      text-align: center;

      &.active {
        color: white;
        font-weight: bold;
        background-color: $color-blue-main;
      }
    }
  }
}
