@import '@/style/variable';

.works {
  padding: 40px;

  .control {
    display: flex;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 30px;
    padding: 0 30px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: $color-gray-sub;

    img {
      width: 14px;
      height: 14px;
      line-height: 14px;
      cursor: pointer;

      mix-blend-mode: screen;
    }
  }

  .head {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-gray-sub;

    > span {
      flex-basis: 0;

      &.status {
        text-align: center;
      }

      &.operation {
        text-align: end;
      }
    }
  }

  .list {
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid $color-gray-sub;
  }
}
