.modal {
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.7);
  }

  .dialog {
    position: relative;
    padding: 25px;
    border-radius: 4px;
    background-color: white;
  }
}
