* {
  box-sizing: border-box;
}
html {
  color: #333333;
  font-size: 14px;
  font-family: 'Microsoft Jhenghei', 'Microsoft Yahei', sans-serif;
  user-select: none;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
h2 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 16px;
  font-weight: bold;
}

fieldset {
  padding: 0;
  margin-bottom: 15px;
  border: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  height: 32px;
  padding: 0 10px;
  border: 1px solid #eeeeee;
  line-height: 32px;
  appearance: none;
  outline: 0;
  transition: border 0.3s;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }

  &:focus {
    border-color: #6fb1f3;
  }
}

footer {
  margin-top: 50px;
  text-align: end;
}

button {
  padding: 5px 10px;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  color: #888888;
  background-color: white;
  outline: none;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border 0.3s;

  &:not(:disabled):hover {
    color: white;
    background-color: #6fb1f3;
    border-color: #6fb1f3;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
