/**
 * @name 混合
*/

@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 8px;
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 4px;
  }
}

@mixin transition {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s ease;
  }
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}
