/**
 * @name 变量
*/

$color-blue-main: #6fb1f3;
$color-blue-sub: #e0efff;
$color-blue-minor: #f1f8ff;
$color-gray-main: #aaaaaa;
$color-gray-sub: #dddddd;
$color-gray-minor: #fafafa;
$color-green: #16ec5d;
$color-red: #ff7373;

$level-modal: 10000;
$level-fixed: 1000;
$level-absolute: 100;
