/**
 * @name 变量
*/

$color-blue-main: #6fb1f3;
$color-blue-sub: #e0efff;
$color-blue-minor: #f1f8ff;
$color-gray-main: #aaaaaa;
$color-gray-sub: #dddddd;
$color-gray-minor: #f2f2f2;

$level-modal: 10000;
