.work {
  display: flex;
  align-items: center;

  > div {
    flex-basis: 0;
  }

  .operation {
    text-align: end;

    img {
      width: 14px;
      height: 14px;
      cursor: pointer;
    }
  }
}
