@import '@/style/variable';

.work {
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid $color-blue-sub;
    }
  }

  > div {
    position: relative;
    flex-basis: 0;
  }
  input {
    background-color: transparent;
  }

  .status {
    text-align: center;

    .checkbox {
      display: inline-block;
      width: 16px;
      height: 16px;
      padding: 2px;
      border: 1px solid $color-gray-sub;
      cursor: pointer;

      &.done::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $color-blue-main;
      }
    }
  }

  .operation {
    text-align: end;

    img {
      width: 14px;
      height: 14px;
      cursor: pointer;
    }
  }
}
