@import '@/style/variable';

.schedule {
  padding: 40px 40px 100px 40px;

  .head {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-gray-sub;

    > span {
      text-align: center;
    }

    .name {
      flex-grow: 1;
    }
    .date {
      flex-shrink: 0;
      width: 300px;
    }
  }

  .list {
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid $color-gray-sub;
  }
}
