@import '@/style/variable';
@import '@/style/mixin';

@include transition;

.layout {
  display: flex;
  height: 100vh;

  .directory {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;

    .list {
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
      border-right: 1px solid $color-gray-sub;

      @include scrollbar;

      .entry {
        overflow: hidden;
        padding: 10px 15px;
        border-bottom: 1px solid $color-gray-minor;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        cursor: pointer;
        transition: background-color 1s;

        &:hover {
          background-color: $color-blue-minor;
          transition: background-color 0.3s;
        }
        &.active {
          background-color: $color-blue-sub;
        }
      }
    }

    .foot {
      flex-shrink: 0;
      padding: 10px 15px;
      border-top: 1px solid $color-gray-minor;
      border-right: 1px solid $color-gray-sub;
      box-shadow: 0 0 2px 2px $color-gray-minor;

      .button {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
    }
  }

  .content {
    background-color: white;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .head {
      position: relative;
      z-index: $level-fixed;
      padding: 15px 20px;
      box-shadow: 0 0 2px 2px $color-gray-minor;

      .title {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid $color-gray-sub;

        .name {
          border: none;
          font-size: 18px;
          font-weight: bold;
        }
        .remove {
          width: 16px;
          height: 16px;
          margin-left: auto;
          cursor: pointer;
        }
      }
      .tabs {
        .tab {
          margin-right: 10px;
          color: inherit;
          cursor: pointer;
          transition: color 0.5s;

          &.active {
            color: $color-blue-main;
            font-weight: bold;
            cursor: default;
            pointer-events: none;
          }
        }
      }
    }
    .wrap {
      flex-grow: 1;
      overflow: auto;

      @include scrollbar;
    }
  }
  .modal {
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: hsla(0, 0%, 0%, 0.7);
    }
    .dialog {
      position: relative;
      padding: 25px;
      border-radius: 4px;
      background-color: white;
    }
  }
}
