@import '@/style/variable';

$input-height: 38px;

.config {
  padding: 40px;

  .field {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    outline: 0;

    &:focus {
      .input {
        border-color: #6fb1f3;
      }
      .date {
        visibility: visible;
      }
    }

    &.rest {
      .input {
        height: auto;
        min-height: $input-height;

        .add {
          height: 16px;
          margin-left: auto;
          cursor: pointer;
        }
        .item {
          flex-shrink: 0;
          display: inline-block;
          position: relative;
          height: 14px;
          box-sizing: content-box;
          padding: 5px 10px;
          margin-right: 15px;
          margin-top: 5px;
          margin-bottom: 5px;
          border: 1px solid $color-gray-minor;
          line-height: 1;
          border-radius: 8px;

          .remove {
            height: 80%;
            margin-left: 5px;
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }

    .name {
      flex-shrink: 0;
      width: 140px;
    }
    .input {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: $input-height;
      padding: 0 10px;
      border: 1px solid #eeeeee;
      line-height: $input-height;
      appearance: none;
      outline: 0;
      transition: border 0.3s;
    }
    .date {
      z-index: $level-absolute;
      position: absolute;
      right: 0;
      top: 100%;
      visibility: hidden;
    }
  }

  // .start {
  //   &:focus {
  //     .date {
  //       visibility: visible;
  //     }
  //   }
  // }
}
