@import '@/style/variable';

.config {
  padding: 40px;

  .field {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    outline: 0;

    &:focus {
      .input {
        border-color: #6fb1f3;
      }
      .date {
        visibility: visible;
      }
    }

    .name {
      flex-shrink: 0;
      width: 140px;
    }
    .input {
      display: flex;
      align-items: center;
      width: 100%;
      height: 32px;
      padding: 0 10px;
      border: 1px solid #eeeeee;
      line-height: 32px;
      appearance: none;
      outline: 0;
      transition: border 0.3s;
    }
    .date {
      z-index: $level-absolute;
      position: absolute;
      right: 0;
      top: 100%;
      visibility: hidden;
    }
  }

  // .start {
  //   &:focus {
  //     .date {
  //       visibility: visible;
  //     }
  //   }
  // }
  .rest {
    .add {
      height: 16px;
      margin-left: auto;
      cursor: pointer;
    }
  }
}
